* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    background-color: rgb(7, 2, 149);
    padding: 1.5rem;
}

nav {
    text-align: center;
}

nav ul {
    background-color:antiquewhite;
}

nav ul li {
    display: inline-block;
    margin-inline: 2rem;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #000;
}

nav ul li a:hover, a:focus {
    background-color:rgb(255, 221, 177);
}   

main {
    padding-inline: 3rem;
}

.profile-pic {
    width: 12em;
    height: 12em;
    background-color: rgb(246, 241, 241);
    border: 1px solid #003;
    margin: 0px 10px 10px 0px;
    float: left;
}

p {
    line-height: 1.5;
    text-align: justify;
}

.info p {
    line-height: 1;
    margin-bottom: 1em;
    text-align: justify;
}

article {
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
}

h2 {
    margin-bottom: .5rem;
}

article {
    margin-top: 1rem;
}

.info {
    list-style-type: none;
}

.info li{
    display: block;
}


.label {
    font-weight: bold;
}

.headinfo {
    display: flex;
}

.article-content {
    column-count: 2;
}

h3 {
    margin-block: 10px;;
}

.list-hobbies {
    list-style-type:square;
    list-style-position: inside;
}

footer p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

figure {
    display: flex;
}

figure img {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30vw;
}

figure figcaption {
    text-align: justify;
}






